<div class="asset-detail">
  <app-sidebar></app-sidebar>
  <h1> {{asset.name}}
    <span>{{asset.symbol}}</span>
  </h1>
  <div>
    <ul>
      <li ngClass="{{colorIndicateMovement(asset.percent_change_1h)}}">
        <span>Price</span>: ${{asset.price_usd}}</li>
      <li>
        <span>Change 1hr</span>:
        <span ngClass="{{colorIndicateMovement(asset.percent_change_1h)}}">{{asset.percent_change_1h}}%</span>
      </li>
      <li>
        <span>Change 24hr</span>:
        <span ngClass="{{colorIndicateMovement(asset.percent_change_24h)}}">{{asset.percent_change_24h}}%</span>
      </li>
      <li>
        <span>Change 7days</span>:
        <span ngClass="{{colorIndicateMovement(asset.percent_change_7d)}}">{{asset.percent_change_7d}}%</span>
      </li>
      <li>
        <span>Supply</span>: {{asset.available_supply}}</li>
      <li>
        <span>Market Cap</span>: ${{asset.market_cap_usd}}</li>
      <li>
        <span>Total Supply</span>: {{asset.total_supply}}</li>
      <li>
        <span>Max Supply</span>: {{asset.max_supply}}</li>
      <li>
        <span>Price BTC</span>: {{asset.price_btc}}</li>
    </ul>
  </div>
</div>