.asset-detail{
  padding: 18px 18px 18px 69px;

  h1{
    // padding: 125px;
    color: #fff;
    font-size: 24px;
    text-transform: capitalize;
    border-bottom: 1px solid lighten(#363636,5%);
  }

  ul{
    padding: 18px 0;

    li{
      color: lighten(#2B2B2B,50%);
      padding: 6px 0;

      >span{
        font-weight: 700;
      }

      .asset-detail--negative,
      &.asset-detail--negative{
        color: #98302F;
      }

      .asset-detail--positive,
      &.asset-detail--positive{
        color: #0B822C;
      }
    }
  }
}