.sidebar{
  width: 57px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: lighten(#2B2B2B,5%);

  &__assets{
    padding: 6px;
    box-sizing: border-box;
    li{
      list-style-type: none;
      text-align: center;
      border-bottom: 1px solid lighten(#363636,5%);
      padding: 6px;

      &:hover{
        opacity: 0.4;
      }

      a{
        color: lighten(#363636,50%);
        font-size: 14px;
        text-decoration: none;
      }
    }

    img{
      max-width: 45px;
    }
  }
}